<div class="jumbotron">
  <h1 class="display-4">Soporte y Ayuda de la plataforma.</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p> En caso de no estar registrado, no lograr entrar a la plataforma o si desea ser parte de la plataforma, comuniquese con el administrador.</p>
  <p> - Telefono: +56 9 1234 5678</p>
  <p> - Correo: nombre.apellido@mail.com</p>

</div>