<h1>Cambio de Contraseña</h1>
<div class="formulario">
    <form action="/users/cambio" method="POST">
            <div class="form-group">
            <label for="Password">Contraseña:</label><br>
            <input type="password" class="form-control" placeholder="Contraseña" name="Password" ><br>
            </div>	
            <p></p>
            <div class="form-group">
            <input type="submit" id="Registrar" value="Enviar"> 
            </div>
    </form>
</div> 