<div class="container">
<div class="col">
<img src="../img/perfil.png" width="100" height="100">
</div>

<div class"col">
<h3>Nombre: {{user.Nombre}}</h3>
<h3>Rut: {{user.RUT}}</h3>
<h3>Rol: {{user.Tipo}}</h3>

<h4 class="card-title d-flex justify-content-between align-items-center">
      <a href="/users/edit">Cambiar Contraseña</a>
</h4>
</div>
</div>