<h1>Registro</h1>
<div class="formulario">
    <form action="/users/signup" method="POST">
            <div class="form-group">
            <label for="RUT">RUT</label><br>
            <input type="text" class="form-control" placeholder="123456789" name="RUT" value="{{RUT}}"><br>
            </div>
            <div class="form-group">
            <label for="Nombre">Nombre</label><br>
            <input type="text" class="form-control" placeholder="Nombre Apellido" name="Nombre" value="{{Nombre}}"><br>
            </div>
            <div class="form-group">
            <label for="Password">Contraseña:</label><br>
            <input type="password" class="form-control" placeholder="Contraseña" name="Password" value="{{Password}}"><br>
            </div>	
            <div class="form-group">
            <label for="Tipo">Tipo de usuario:</label><br>
            <select id="Tipo" name="Tipo" class="form-control"  value="{{Tipo}}">
                <option value="aux" selected >Elija una opcion</option>
                <option value="estudiante">Estudiante</option>
                <option value="profesor">Profesor</option>
                <option value="coordinador">Coordinador</option>
                <option value="administrador">Administrador</option>
            </select>
            </div>		
            <p></p>
            <div class="form-group">
            <input type="submit" id="Registrar" value="Enviar"> 
            </div>
    </form>
</div>