<h1>Inicie Sesion</h1>
<p></p>
<div class="formulario">
    <form action="/users/signin" method="POST">
            <div class="form-group">
            <label for="RUT">RUT</label><br>
            <input type="text" class="form-control" placeholder="123456789" name="RUT"><br>
            <div class="form-group">
            <label for="Password">Contraseña:</label><br>
            <input type="password" class="form-control" placeholder="Contraseña" name="Password" ><br>
            </div>	
            <p></p>
            <div class="form-group">
            <input type="submit" id="Registrar" value="Enviar"> 
            </div>
    </form>
</div> 